.HimeHeader
{
	width: 90%;
	height: 50px;
	padding: 3px;
	border: solid 2px #840000;
	background-color: #FFEEEE;
}
.HimeLogo
{
	width: 50px;
	height: 50px;
}
.HimeDocumentTitle
{
	position: absolute;
	left: 100px;
	height: 50px;
	width: 50%;
	font-family: Sans-Serif;
	font-size: 20pt;
	text-align: center;
	text-transform: capitalize;
	vertical-align: middle;
}
.HimeBody
{
	padding: 10px;
	width: 90%;
	font-family: Sans-Serif;
	font-size: 10pt;
	color: Black;
	background-color: White;
}
.HimeSection
{
	padding: 10px;
	width: 100%;
}
.HimeSectionTitle
{
	width: 100%;
	background-color: #C8C8FF;
	font-family: Serif;
	font-size: 15pt;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}
.HimeSectionContent
{
	position: relative;
	left: 10%;
	width: 90%;
	border: Solid 3px #C8C8FF;
	border-top-style: none;
}
.HimeEntry
{ }
.HimeData
{
	border-top: Solid 1px Black;
	border-left: Solid 1px Black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Sans-Serif;
	font-size: 10pt;
}
.HimeDataLine
{
	font-family: Sans-Serif;
	font-size: 10pt;
	padding-top: 3px;
	padding-bottom: 3px;
}

.HimeDataCellTopLeft
{
	border: Solid 1px Black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Sans-Serif;
	font-size: 10pt;
}
.HimeDataCellTop
{
	border-top: Solid 1px Black;
	border-bottom: Solid 1px Black;
	border-right: Solid 1px Black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Sans-Serif;
	font-size: 10pt;
}
.HimeDataCellTopRight
{
	border-top: Solid 1px Black;
	border-bottom: Solid 1px Black;
	border-right: Solid 1px Black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Sans-Serif;
	font-size: 10pt;
}
.HimeDataCellCenterLeft
{
	border-left: Solid 1px Black;
	border-bottom: Solid 1px Black;
	border-right: Solid 1px Black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Sans-Serif;
	font-size: 10pt;
}
.HimeDataCellCenter
{
	border-bottom: Solid 1px Black;
	border-right: Solid 1px Black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Sans-Serif;
	font-size: 10pt;
}
.HimeDataCellCenterRight
{
	border-bottom: Solid 1px Black;
	border-right: Solid 1px Black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Sans-Serif;
	font-size: 10pt;
}

.HimeLRState
{
    padding: 1px;
    margin: 2px;
    background-color: #FFFF00;
    border: 1px solid #FF0000;
    color: Black;
    text-decoration: none;
}
.HimeSymbolVariable
{
    padding: 1px;
    margin: 2px;
    background-color: #DDDDFF;
    border: 1px solid #0000FF;
    color: Black;
    text-decoration: none;
}
.HimeSymbolTerminal
{
    padding: 1px;
    margin: 2px;
    border: 1px Solid #FF6600;
    background-color: #FFDD88;
}
.HimeSymbolVirtual
{
    padding: 1px;
    margin: 2px;
    background-color: #DDDDDD;
}
.HimeSymbolAction
{
    padding: 1px;
    margin: 2px;
    background-color: #CCFFFF;
}

.maximize
{
    width: 100%;
    height: 100%;
}